div.menuHead {
    display: flex;
    justify-content: space-around;
    margin: 5px 3%;
}

div.menuHead a {
    display: inline-block;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

div.menuHead a:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width:500px) and (orientation:portrait) {
    div.menuHead {
        flex-direction: column;
    }
}



div.menuHead img {
    display: block;
    width: 20%;
    margin: 2% auto;
}

@media (min-width:501px) {
    div.menuHead img {
        display: none;
    }
}

@media (max-width:500px) {
    div.menuHead a {
        display: none;
    }
}

div.menuHead:hover a {
    display: inline-block;
    /* color: red; */
}