div.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(128, 128, 128);
    padding: 2% 0;
    margin-top: 10%;
}

div.footer p {
    font-size: 1.2rem;
    text-align: center;
}